* {
  box-sizing: border-box;
}

.container {
  max-width: 1508px;
  margin: 0 auto;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}
